.contact-area {
  background: #FBF0F1;
}
.contact {
  display: flex;
  justify-content: center;
}

@media(max-width: 960px) {
  .contact {
    display: flex;
    justify-content: space-around;
  }
}

@media(max-width: 720px) {
  .contact {
    display: inline;
  }

  .contact-email {
    margin-bottom: 2rem;
  }
}