footer {
  background-color: #E69AB4;
  color: #A37079;
  font-weight: bold;  
  padding: 30px 0px;
	text-align: center;
	margin: 5px auto;
}

.email, .fa-whatsapp-square {
  font-size: 50px;
  margin-right: 1rem;
}

.email {
  color: #D44337;
}

.fa-whatsapp-square {
  color: #54AD26;
}