.header_area {
  box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
}

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 3rem;
}

.header_area .main-menu .navbar {
  background: linear-gradient(90deg,  #DBE2E9 0%, #f077c2 100%);
}


.dropdown-menu {
  background: linear-gradient(45deg, #d0d0db, #e1c9e6,#E0B6CC, #e096b5);
}

.dropdown-item {
  color:#110E30;
}

.code {
  color: #110E30;
  font-size: 2.2rem;
}

.header_area .main-menu .nav-item .nav-link{
  color: #110E30;
  padding: 1rem;
}

.header_area .main-menu .navbar-nav .active a{
  background: linear-gradient(90deg, #110E30 0%, #1f1b52 100%);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
  background: linear-gradient(90deg, #110E30 0%, #1f1b52 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.collapse {
  justify-content: space-between;
  padding-right: 2rem;
}

.selected-lang{
  display: flex;
  justify-content: space-between;
  line-height: 2;
}

.lang-menu .selected-lang:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 4px;
  background-image: url(https://www.countryflags.io/br/flat/32.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lang-menu > ul > li > a:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 4px;
  justify-content: space-between;
  line-height: 2;
  vertical-align: middle;
  background-image: url(https://www.countryflags.io/GB/flat/32.png); 
  background-size: contain;
  background-repeat: no-repeat;
}
