/* import */ 
@import url(banner.css);
@import url(button.css);
@import url(about.css);
@import url(education.css);
@import url(skills.css);
@import url(projects.css);
@import url(contact.css);
@import url(footer.css);
@import url(modal.css);


html, body{
  height: 100%;
  width: 100%;
  /* min-width: 100vh; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #110E30;
  font-family: 'Lora', serif;
}

h2 {
  text-align: center;
}

.fa-heart {
  background: linear-gradient(90deg, #b6c3ee 0%, #f077c2 100%);
  font-size: 1.2rem;
}

.fa-laptop-code {
  background: linear-gradient(90deg, #b6c3ee 0%, #f077c2 100%);
  font-size: 1.2rem;
}

.fa-globe-americas {
  background: linear-gradient(90deg, #b6c3ee 0%, #f077c2 100%);
  font-size: 1.2rem;
}

.fa-code-branch{
  background: linear-gradient(90deg, #b6c3ee 0%, #f077c2 100%);
  font-size: 1.2rem;
}

.fa-volume-up{
  background: linear-gradient(90deg, #b6c3ee 0%, #f077c2 100%);
  font-size: 1.2rem;
}
